.section-about {
    background-color: rgb(216, 216, 216);
    padding: 2rem 2rem 25rem 2rem;
    position: relative;
  }

.section-room {
    background-color: rgb(216, 216, 216);
    padding: 2rem 2rem 25rem 2rem;
    position: relative;
}