.margin-top-small {
  margin-top: 2rem;
}

.heading-box {
  display: block;
  text-align: center;
  margin-bottom: 5rem;
}

.heading__primary {
  color: #fff;
  display: block;
  text-align: center;
  &--main {
    font-weight: 500;
    display: block;
    letter-spacing: 2.2rem;
    text-shadow: 0 1rem 4rem rgba(#000, 0.6);
    font-size: 5rem;
    
  }
  &--sub {
    font-weight: 500;
    margin-top: 1.5rem;
    display: block;
    font-size: 2.2rem;
    letter-spacing: 1.4rem;
    background-image: linear-gradient(
      to right,
      rgb(255, 195, 116),
      rgb(255, 245, 155)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
  }
}

.heading-secondary {
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 195, 116),
    rgb(255, 245, 155)
  );
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0.5rem 0.5rem 2rem rgba(#000, 0.2);
  transition: all, 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  
}

.heading-tertiary {
  font-size: 1.5rem;
  color: #777;
}

.paragragh {
  font-size: 1.2rem;
  color: #777;
}
